<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="customer-service" />

    <!-- Console appender with JSON structured logging -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <version>
                    <fieldName>version</fieldName>
                </version>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <mdc>
                    <includeMdcKeyName>correlationId</includeMdcKeyName>
                    <includeMdcKeyName>requestId</includeMdcKeyName>
                    <includeMdcKeyName>traceId</includeMdcKeyName>
                    <includeMdcKeyName>spanId</includeMdcKeyName>
                    <includeMdcKeyName>developer_id</includeMdcKeyName>
                    <includeMdcKeyName>developer_name</includeMdcKeyName>
                </mdc>
                <stackTrace>
                    <fieldName>exception</fieldName>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <!-- local-k8s: file appender for Alloy log collection -->
    <springProfile name="local-k8s">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/${APP_NAME}/${APP_NAME}.log</file>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>timestamp</fieldName>
                        <timeZone>UTC</timeZone>
                    </timestamp>
                    <version>
                        <fieldName>version</fieldName>
                    </version>
                    <loggerName>
                        <fieldName>logger</fieldName>
                    </loggerName>
                    <threadName>
                        <fieldName>thread</fieldName>
                    </threadName>
                    <logLevel>
                        <fieldName>level</fieldName>
                    </logLevel>
                    <message>
                        <fieldName>message</fieldName>
                    </message>
                    <mdc>
                        <includeMdcKeyName>correlationId</includeMdcKeyName>
                        <includeMdcKeyName>requestId</includeMdcKeyName>
                        <includeMdcKeyName>traceId</includeMdcKeyName>
                        <includeMdcKeyName>spanId</includeMdcKeyName>
                        <includeMdcKeyName>developer_id</includeMdcKeyName>
                        <includeMdcKeyName>developer_name</includeMdcKeyName>
                    </mdc>
                    <stackTrace>
                        <fieldName>exception</fieldName>
                    </stackTrace>
                </providers>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>logs/${APP_NAME}/${APP_NAME}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>100MB</maxFileSize>
                <maxHistory>7</maxHistory>
                <totalSizeCap>2GB</totalSizeCap>
            </rollingPolicy>
        </appender>
    </springProfile>

    <!-- Default root: STDOUT only -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- local-k8s: Loki HTTP appender for shared Loki via Tailscale -->
    <springProfile name="local-k8s">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <format>
                <label>
                    <pattern>service=${APP_NAME},environment=local-k8s,source=intellij</pattern>
                </label>
                <message>
                    <pattern>
                        {
                        "traceId": "%mdc{traceId}",
                        "spanId": "%mdc{spanId}",
                        "correlationId": "%mdc{correlationId}",
                        "requestId": "%mdc{requestId}",
                        "developer_id": "%mdc{developer_id}",
                        "developer_name": "%mdc{developer_name}"
                        }
                    </pattern>
                </message>
            </format>
            <http>
                <url>http://100.114.133.69:30310/loki/api/v1/push</url>
            </http>
            <batchMaxItems>50</batchMaxItems>
            <batchTimeoutMs>1000</batchTimeoutMs>
        </appender>
    </springProfile>

    <!-- local-k8s: STDOUT + FILE + LOKI -->
    <springProfile name="local-k8s">
        <root level="INFO">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="FILE" />
            <appender-ref ref="LOKI" />
        </root>
    </springProfile>
</configuration>
